body{
   padding-bottom: 10000px;
   padding-top: 40px;
   color: red;
   


}
.navbar {
    
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   border-bottom-style: solid;
   border-bottom-color:red;
    border-bottom-width: 1px;
    
    border: 1px solid;
    border-top: none;
    border-left: none;
    border-right: none;
    box-shadow: 2px 2px 2px rgba(rgb(255, 0, 0), rgb(238, 10, 10), rgb(255, 0, 0), 0.5);
    
}
.navbar-left {
    
    padding-left: 20px;
    padding-top: 10px;
    
    
    
}
.navbar-left1 {
   
    
}
.navbar-left2 {
    
    padding-left: 20px;
    padding-top: 10px;
    
    
    
}
.navbar-right {
    
    padding-right: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    
    margin-right: 5px;
    
    
}
.a-element {
    
    padding: 5px;
    border: 2px solid rgb(255, 0, 0);
    margin: 6px;
    
    
    
    
}

.form1 {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    
}